<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Nombre de Usuario</ion-label>
    <ion-input type="text" [(ngModel)]="username"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Contraseña</ion-label>
    <ion-input [(ngModel)]="password" type="password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Confirmar Contraseña</ion-label>
    <ion-input [(ngModel)]="cpassword" type="password"></ion-input>
  </ion-item>

  <section>
    <ion-button expand="block" (click)="register()">Registrarse</ion-button>
  </section>
</ion-content>
