<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Nombre de Usuario</ion-label>
    <ion-input [(ngModel)]="user_name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Contraseña</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>

  <section>
    <ion-button expand="block" (click)="saveLoggedUser(user_name)" routerLink="/home" routerDirection="forward">Acceder</ion-button>
  </section>
</ion-content>
